header {
  display: flex;
  justify-content: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  height: 80px;
}
.logo {
  display: flex;
  flex-grow: 1;
  color: MediumAquamarine;
  padding-left: 30px;
  align-items: center;
}
nav {
  display: flex;
  padding-right: 40px;
  align-items: center;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  border: 1px solid black;
}
div {
  border: 1px solid black;
}
large {
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
medium {
  width: 300px;
}
small {
  width: 240px;
}
